{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "localStorage": "readonly"
  },
  "plugins": [ "react", "import", "jsx-a11y" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019
  },
  "rules": {
    "react/prop-types": "off"
  }
}